img {
  height: 16px;
  vertical-align: middle;
  margin: 0 0.25em;
  margin-top: -2px;
}

span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;

  &.label {
    font-size:0.75rem;
    font-weight:bold;
    display:inline-block;
    width: 65px;
    text-align: right;
  }
}
