#main {
  max-width: 100%;
}

.header-link {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  padding: 1em;
}

:host ::ng-deep .p-button.white {
  color: white;
  border: none;
}

:host ::ng-deep .p-button.p-button-outlined {
  border: none;
}

:host ::ng-deep .p-button.yellow {
  color: rgb(250, 250, 94);
}

:host ::ng-deep .p-button.red {
  color: rgb(255, 40, 40);
}

:host ::ng-deep .p-button.green {
  color: rgb(76, 233, 76);
}

:host ::ng-deep .p-panel .p-panel-content {
  padding: 0;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
  padding: 0;
}

:host ::ng-deep .p-menu {
  width: 275px;
  max-height: 800px;
  overflow-y: scroll;
  margin-top: 1em;
}

.menu-option {
  padding: 0.5em;
  cursor: pointer;
  background-color: inherit;

  &:hover,
  &.selected {
    background-color: #eeeeeeee;
  }
}

::ng-deep .p-tooltip {
  // min-width: 500px;
  // width: 500px;
  max-width: fit-content;

  span.label {
    vertical-align: middle;
    font-weight: 500;
    padding-right: 0.5em;
  }
}

::ng-deep .p-badge {
  font-size: 0.75em;
  background-color: #333;
}

::ng-deep .p-tooltip.item-container .p-tooltip-text {
  padding: 0;
}
