<div id="main" class="light-theme" role="main">
  <p-toast />
  <p-toolbar
    styleClass="bg-gray-900 shadow-2"
    [style]="{
      'background-image':
        'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))',
      padding: '1em 0'
    }"
  >
    <div class="p-toolbar-group-start">
      <div class="card flex justify-content-center">
        <p-menu
          #recentMenu
          [model]="navigationService.recentPages"
          [popup]="true"
        >
          <ng-template pTemplate="recentPage" let-recentPage>
            <div style="padding: 0.5em">
              <app-result [entity]="recentPage.entity" [isLink]="true" />
            </div>
            <!-- <a [routerLink]="recentPage.url">{{ recentPage.entity.name }}</a> -->
          </ng-template>
        </p-menu>
        <p-button
          type="button"
          (click)="recentMenu.toggle($event)"
          icon="pi pi-history"
          [outlined]="true"
          styleClass="white"
        ></p-button>
        <a class="header-link" [routerLink]="'auctions'">Auctions</a>
        <!-- <a class="header-link" [routerLink]="'bazaar'"
          >Bazaar <p-tag severity="info" value="Beta"
        /></a> -->
        <a class="header-link" [routerLink]="'items'">Items</a>
        <a class="header-link" [routerLink]="'npcs'">NPCs</a>
        <a class="header-link" [routerLink]="'zones'">Zones</a>
        <a class="header-link" [routerLink]="'characters'">Characters</a>
        <a class="header-link" [routerLink]="'inventory'"
          >Inventory <p-tag severity="info" value="Beta"
        /></a>
        <p-button
          *ngIf="locationService.currentLocation.zoneId"
          (click)="goToLiveMap()"
          type="button"
          icon="pi pi-map-marker"
          [outlined]="true"
          styleClass="white"
        ></p-button>
        <!-- <a class="header-link" [routerLink]="'spells'">Spells</a> -->
        <app-search style="margin-left: 1em"></app-search>
      </div>
    </div>
    <div class="p-toolbar-group-center"></div>
    <div class="p-toolbar-group-end">
      <!-- <div style="text-align: center" *ngIf="showSetEqDirectory">
        <span
          *ngIf="logReaderService.isReading && logReaderService.directory"
          style="font-size: 0.85em;display:inline-block;text-align:left;margin-right:0.5em"
        >
          Reading logs from:<br/>&nbsp;&nbsp;&nbsp;&nbsp;{{ logReaderService.directory.name }}
        </span>
        <span
          *ngIf="!logReaderService.isReading && logReaderService.directory"
          style="font-size: 0.85em;display:inline-block;text-align:left;margin-right:0.5em"
        >
          EQ directory:<br />&nbsp;&nbsp;&nbsp;&nbsp;{{ logReaderService.directory.name }}
        </span>
        <p-button
          type="button"
          severity="info"
          (onClick)="openDirectoryPicker()"
          icon="pi pi-{{
            logReaderService.directory ? 'folder-open' : 'folder'
          }}"
          styleClass="white circle"
          tooltipPosition="bottom"
          [pTooltip]="
            'Setting your EQ directory gives access to your EQ logs to show your location on the map.  After setting your directory, you may need to re-log or re-zone before your location shows.'
          "
        ></p-button> -->
      <!-- <span *ngIf="!logReaderService.directory" style="font-size: 0.85em">
          No EQ directory set
        </span> -->
      <!-- <button
          (click)="openDirectoryPicker()"
          style="color: white; font-weight: bold; vertical-align: middle"
          type="button"
          [pTooltip]="
            'Setting your EQ directory gives access to your EQ logs to show your location on the map.  After setting your directory, you may need to re-log or re-zone before your location shows.'
          "
          tooltipPosition="left"
          pButton
          size="small"
        >
          {{ logReaderService.directory ? "Change" : "Set" }} EQ Directory
          <p-badge value="BETA" />
        </button> -->
      <!-- </div> -->
      <!-- <app-countdown
        title="Velious"
        [date]="veliousLaunchDate"
        tooltip="Velious launches April 1st, 2025"
      /> -->
      <app-feedback></app-feedback>
      <p-button
        type="button"
        (onClick)="settingsMenu.toggle($event)"
        icon="pi pi-cog"
        styleClass="white"
        [outlined]="true"
      ></p-button>
      <p-overlayPanel #settingsMenu>
        <ng-template pTemplate="content">
          <div>
            <div>
              <label for="apiKey" style="font-weight: bold"
                >API Key
                <i
                  class="pi pi-info-circle"
                  [escape]="false"
                  pTooltip="Using the same API key on multiple browsers and devices will let you use item trackers, characters, and inventories across them all.
            <br /> <br />To do this, copy your API key from one browser/device, then paste that API key into here on all your other browsers/devices. 
            <br /> <br />You may want to back-up your API key before changing it."
                ></i
              ></label>
            </div>
            <div style="margin-top: 0.5em">
              <p-inputgroup>
                <input pInputText [(ngModel)]="apiKey" />
                <p-inputgroup-addon>
                  <i
                    style="padding-left: 0.5em; color: green; font-weight: bold"
                    *ngIf="apiKey === apiService.apiKey"
                    class="pi pi-check"
                    pTooltip="This is your current API key"
                  ></i>
                  <i
                    style="padding-left: 0.5em; color: white; font-weight: bold"
                    *ngIf="
                      apiKey !== apiService.apiKey &&
                      apiKey &&
                      apiKey.length >= 15
                    "
                    class="pi pi-pencil"
                    pTooltip="Your API key has been edited, but not saved"
                  ></i>
                  <i
                    style="padding-left: 0.5em; color: red; font-weight: bold"
                    *ngIf="!apiKey || apiKey.length < 15 || apiKey.length > 64"
                    class="pi pi-times"
                    pTooltip="API key is not valid"
                  ></i>
                </p-inputgroup-addon>
              </p-inputgroup>
            </div>
            <div style="text-align: center; margin-top: 0.5em">
              <p-button
                [disabled]="
                  apiKey === apiService.apiKey || !apiKey || apiKey.length < 15
                "
                label="Change API key"
                (onClick)="changeApiKey()"
              />
            </div>
          </div>
        </ng-template>
      </p-overlayPanel>
      <p-menu #fontSizeMenu [model]="themeService.fontSizes" [popup]="true">
        <ng-template pTemplate="recentPage" let-fontSize>
          <div
            class="menu-option {{
              themeService.fontSize === fontSize.value ? 'selected' : ''
            }}"
            (click)="themeService.switchFontSize(fontSize.value)"
          >
            {{ fontSize.label }}
          </div>
        </ng-template>
      </p-menu>
      <p-button
        type="button"
        (click)="fontSizeMenu.toggle($event)"
        icon="pi pi-search-plus"
        styleClass="white"
        [outlined]="true"
      ></p-button>
      <p-menu #themeMenu [model]="themeService.themes" [popup]="true">
        <ng-template pTemplate="recentPage" let-theme>
          <div
            class="menu-option {{
              themeService.theme === theme.value ? 'selected' : ''
            }}"
            (click)="themeService.switchTheme(theme.value)"
          >
            {{ theme.label }}
          </div>
        </ng-template>
      </p-menu>
      <p-button
        type="button"
        (click)="themeMenu.toggle($event)"
        icon="pi pi-palette"
        styleClass="white"
        [outlined]="true"
      ></p-button>
    </div>
  </p-toolbar>
  <!-- <div style="display: flex; flex-direction: row">
    <div style="width: 250px; height: 100%; background: #374151;">
      <div *ngFor="let recent of navigationService.recentPages" style="padding:0.5em;padding-bottom:0;">
        <app-result [entity]="recent.entity" />
      </div>
    </div>
    <div><router-outlet></router-outlet></div>
  </div> -->
  <router-outlet></router-outlet>
</div>
