
version: "3.8"
# FOR LOCAL DEVELOPMENT WITH HOT RELOADING
services:
  api:
    build: 
      dockerfile: dev.Dockerfile
      context: ./server/api
    depends_on:
      - mysql
      - mariadb
    environment:
      QUARM_DATABASE_DUMP_URL: https://github.com/SecretsOTheP/EQMacEmu/raw/refs/heads/main/utils/sql/database_full/quarm_2025-03-30-17_08.tar.gz
    volumes:
      - ./server/api:/app
    ports:
      - 3000:3000
  app:
    build: 
      dockerfile: dev.Dockerfile
      context: ./server/app
    volumes:
      - ./server/app:/app
    ports:
      - 4200:4200
  
  mysql: # Don't need mysql after I copy over item-trackers, characters, and inventories to mariadb
    image: mysql:8.0.35-debian
    command: --max_allowed_packet=325058560
    environment:
      MYSQL_USER: mysql
      MYSQL_PASSWORD: mysql
      MYSQL_ROOT_PASSWORD: mysql 
      MYSQL_DATABASE: quarm_data
    volumes:
      - ./mysql:/var/lib/mysql
    ports:
      - "3306:3306"
  mariadb:
    image: mariadb:11.7.2
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: mariadb
      MARIADB_PASSWORD: mariadb
      MARIADB_USER: mariadb
      MARIADB_DATABASE: quarm
      MYSQL_TCP_PORT: 3307:3307
      MYSQL_UNIX_PORT: 3307:3307
    ports:
      - "3307:3307"