
version: "3.8"
# FOR LOCAL DEVELOPMENT WITH HOT RELOADING
services:
  api:
    build: 
      dockerfile: dev.Dockerfile
      context: ./server/api
    depends_on:
      - mysql
    volumes:
      - ./server/api:/app
    ports:
      - 3000:3000
  app:
    build: 
      dockerfile: dev.Dockerfile
      context: ./server/app
    volumes:
      - ./server/app:/app
    ports:
      - 4200:4200
  mysql:
    image: mysql:8.0.35-debian
    command: --max_allowed_packet=325058560
    environment:
      MYSQL_USER: mysql
      MYSQL_PASSWORD: mysql
      MYSQL_ROOT_PASSWORD: mysql 
      MYSQL_DATABASE: quarm_data
    volumes:
      - ./mysql:/var/lib/mysql
    ports:
      - "3306:3306"