.item {
  min-width:550px;
  min-height:272px;
}

.item-name {
  border: 1px solid #666;
  border-bottom: none;
  background-color: #333;
  color: #ccc;
  font-size: 0.9em;
  font-weight: 400;
  text-align: center;
  padding: 0.25em;
}

.item-details {
  padding: 1em;
  width: 550px;
  height: 250px;
  position: relative;
  background: #333;
  color: #eee;
  font-size: 0.95em;
  border: 1px solid #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

::ng-deep .p-tooltip.item-link-tooltip .p-tooltip-text {
    padding: 0;
  }