.spell-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background: #222;
  width: 100%;
}

.header-detail {
  font-size: 0.9em;
  font-weight: 600;
  vertical-align: middle;
  padding-left: 1em;
}
