#chat-window {
  height: calc(100vh - 11.6rem - 8px);
  background: var(--surface-b);
  border: 1px solid var(--surface-d);
  border-color: var(--primary-color-text);
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin: auto;
}

.chat-container {
  height: 100%;
}

.jump-to-present {
  position: absolute;
  padding: 0.5em 2em 0.5em;
  font-size: 0.9em;
  font-weight: bold;
  text-align: right;
  bottom: 1em;
  width: 170px;
  right: calc(50% - 85px);
  background: rgba(10, 25, 50, .9);
  border-radius: 1em;
  cursor: pointer;
  box-shadow: black 1px 1px 1px;
}