.container {
  padding: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 600px;

  .results {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(312px * 3.3);

    app-result {
      width: 300px;
      display: block;
      padding: 6px;
      border-radius: 0.25em;
      background: rgba(0, 0, 0, 0.25);
      margin: 3px;

      transition: background-color 150ms ease;

      &:hover,
      &.selected {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }

  .info,
  .no-result {
    font-size: 1.25em;
    text-align: center;
    opacity: 0.5;
    margin-top: 6em;
    max-width: 35em;
  }

  .search {
    width: 100%;
    max-width: 40em;
    margin: 1em;
  }
}
