.info {
  width: 550px;

  .name {
    border: 1px solid #666;
    border-bottom: none;
    background-color: #333;
    color: #ccc;
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    padding: 0.25em;
  }

  .details {
    padding: 1em;
    height: 250px;
    position: relative;
    background: #333;
    color: #eee;
    font-size: 0.95em;
    border: 1px solid #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .icon {
    position: absolute;
    display: inline-block;
    top: 1em;
    right: 1em;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .left {
    width:fit-content;
  }

  .label {
    padding-right:1em;
    font-weight:bold;
  }

  td.effects {
    vertical-align: top;
  }

  td {
    padding-right:0.5em;
    padding-bottom:0.25em;

    &:nth-child(odd) {
      font-weight:600;
    }

    &:nth-child(3) {
      padding-left: 5em;
    }
  }
}
