<a
  class="{{ linkStyle ? 'link' : '' }}"
  routerLink="/spells/{{ spellId }}"
  [pTooltip]="spellTooltip"
  (mouseenter)="onHover()"
  tooltipStyleClass="spell-link-tooltip"
>
  <img
    *ngIf="spellIcon"
    style="vertical-align: middle; margin-right: 1em;border-radius:0.25em;height:32px;width:auto;"
    src="/assets/icons/default/{{ spellIcon }}.png"
  />
  <span>{{ spellName }}</span></a
>
<ng-template #spellTooltip>
  <app-spell
    *ngIf="spell"
    [spell]="spell"
    [level]="level"
    [levelSource]="levelSource"
  />
</ng-template>
