.search-item-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

  .icon {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
    display: inline-block;
    // background: lightblue;
  }

  img.icon {
    background: #ffffff11;
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.25em;
  }

  .icon .pi {
    font-size: 1.5em;
    background: #ffffff11;
    width: 2.5rem;
    height: 2.5rem;
    color: steelblue;
    border-radius: 0.25em;
    padding-left: calc(1em - 1rem);
    padding-top: calc(1em - 1rem);
  }

  .name {
    flex: 1;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
  }

  .zone {
    opacity: 0.75;
    font-size:0.9em;
  }

  .tag {
    color: #777;
    font-size: 0.9em;
  }
}

:host ::ng-deep .p-autocomplete-item {
  padding: 0.5em;
}

:host ::ng-deep .p-badge {
  margin-top: 0.25em;
  margin-right:0.5em;
  padding:0 0.25rem;
  background-color:darkgray;
}

:host ::ng-deep .p-avatar-text {
  font-size:0.75em;
  font-weight:bold;
}

:host ::ng-deep .p-avatar {
  width:2.5rem;
  height:2.5rem;
}