.countdown {
  background: #1f2937;
  border: 1px solid #424b57;
  color: #60a5fa;
  display: inline-block;
  border-radius: 0.25em;
  vertical-align: middle;
  margin-left: 1em;
  padding:0.25em;
  padding-bottom:0;
  margin-top:0.25em;
  margin-bottom:0.25em;

  .event {
    text-align: center;
    font-weight: bold;
    margin-bottom:0.25em;
    font-size:0.9em;
    color:lightblue;
  }

  .values span {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    margin: 0.25em 0;
    padding: 0 0.25em;
    width: 40px;
    text-align: center;
    border-right: 1px solid white;

    &:last-child {
      border-right: none;
    }
  }

  .units span {
    display: inline-block;
    text-align: center;
    width: 40px;
    font-size: 0.5em;
    text-transform: uppercase;
    vertical-align: top;
    margin-top:-0.25em;
  }
}
