<div id="item-search-page">
  <p-panel header="Search Bazaar" styleClass="container">
    <!-- Content goes here -->
     Bazaar!  
     - Make app-item-component generic and make it able to search specifically item listings (instead of average [or in addition to?] search by the actual price)
     - Manage screen: idk, list your items from verified characters with ability to set prices by itemId and optionally quantity?
        - Second, maybe make it so you can arbitrarily add items (without inventory upload) for listing.
     - Feed screen: like EC chat but for Bazaar listings.  Can work with item-trackers, too.
        - Maybe needs to tie into the existing EC feed so you can see both from the same place.
        - Toss listings into auctions somehow so the average prices are reflected there.
        
  </p-panel>
</div>
