:host ::ng-deep input.p-inputtext {
  width: 375px;
}

:host ::ng-deep button.circle {
  border-radius: 2em;
  width: 38px;
  height: 38px;
  margin-left: 1em;
}

.buttons {
  display: flex;
  justify-content: end;
}

.label {
  opacity: 0.75;
  padding-bottom: 0.25em;
  display: block;
}

.done {
  height: 250px;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;

  .text {
    font-weight: bold;
    margin-bottom: 1em;
  }
}
