.character-container {
  display:flex;
  margin-top:1em;

  .character-inputs > * {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .stats {
    margin-left:1em;
    max-width: 174px;
  }

  ul {
    max-width: 150px;
    list-style: none;
    padding-inline-start: 1em;
    li {
      display: flex;
      justify-content: space-between;
    }
  }

  .slots-container {

    width:250px;
  
    .left, .right, .middle, .top, .bottom {
      display:flex; 
      justify-content: center;
      margin-bottom:0.5em;
    }
  
    .middle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom:0;
  
      .left, .right {
        flex-direction: column;
      }
    }
  
    .class-icon {
      height:128px;
      width:64px;
    }
  
  }
}

:host ::ng-deep .p-inputnumber-input {
  width: 64px;
}

table {
  thead {
    th {
      background-color: darkslategray;
    }
  }
  td,
  th {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    text-align: right;
    margin: 0;
  }
}
