.page-container {
  display: flex;
  padding-top: 1em;
  justify-content: center;
  gap: 2em;
}

.character-container {
  display: flex;
  padding: 1em;

  .character-inputs > * {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .stats {
    max-width: 186px;
  }

  ul {
    max-width: 150px;
    list-style: none;
    padding-inline-start: 0;
    li {
      display: flex;
      justify-content: space-between;
    }
  }

  .slots-container {
    width: 250px;

    .left,
    .right,
    .middle,
    .top,
    .bottom {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5em;
    }

    .middle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;

      .left,
      .right {
        flex-direction: column;
      }
    }

    .class-icon {
      height: 128px;
      width: 64px;
    }
  }
}

:host ::ng-deep .p-inputnumber-input {
  width: 50px;
}

table {
  thead {
    th {
      background-color: darkslategray;
    }
  }
  td,
  th {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    text-align: right;
    margin: 0;
  }
}

:host ::ng-deep .p-autocomplete-input,
:host ::ng-deep .p-autocomplete .p-overlay {
  width: 200px;
  margin: 0 1em;
}

:host ::ng-deep .p-divider {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.import-from-zeal {
  text-align: center;
  position: absolute;
  margin-top: -4em;
  font-size: 0.8em;
  width: 121px;
  margin-left: 67px;
}