.bag-container {
  display: flex;
}

.bag-slots {
  display: flex;
}

::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 0;
}

::ng-deep .p-accordion .p-accordion-content {
  padding-top:0;
  padding-bottom:0;
}


.code {
  font-family: 'Courier New', Courier, monospace;
  background: rgba(50,50,50,0.95);
  border-radius: 0.25em;
  padding:0.125em;
  display:inline-block;
}