.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  font-size: 0.7em;
border:0;
  cursor: pointer;
  background-size: 100% auto;

  &.small {
    height: 40px;
    width: 40px;
  }
}

.item-text {
  width: 40px;
  position: absolute;
  text-align: center;
}

.not-equippable {
  background-color: rgba(255, 0, 0, 0.75);
  background-blend-mode: multiply;
}

.filtered {
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
  app-item-link {
    opacity: 0.33;
  }
}