.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  font-size: 0.7em;
border:0;
  cursor: pointer;
  background-size: 100% auto;
}

.item-text {
  width: 40px;
  position: absolute;
  text-align: center;
}

.count {
  padding: 0.25em;
  margin-top: 28px;
  margin-left: 28px;
  position: absolute;
}