<!-- Update background image to bag or container slot icon -->
<div
  class="slot"
  [class.filtered]="
    filterText &&
    (!slot.item ||
      (!slot.item.name.toLowerCase().includes(filterText.toLowerCase()) &&
        slot.item.id.toString() !== filterText))
  "
  style="background-image: url('assets/slots/bag.png')"
>
  <span *ngIf="!slot.item" style="color: #ddd" class="name"></span>
  <app-item-link
    *ngIf="slot.item"
    [itemId]="slot.item.id"
    [itemName]="slot.item.name"
    [itemIcon]="slot.item.icon"
    [noNav]="true"
    [hideText]="true"
    [subtitle]="subtitle"
  />
  <span class="item-text" *ngIf="slot.item && !hideText">{{
    slot.item.name
  }}</span>
  <span class="count" *ngIf="(slot.item?.stacksize || 1) > 1">{{
    slot.count
  }}</span>
</div>
