.bag-container {
  display: flex;
}

.bag-slots {
  display: flex;
}

.equipped {
  padding-right: 2em;
}

.general-inventory {
  padding-right: 1em;
  width: 440px;
}

.bank-inventory {
  padding-right: 1em;
  width: 440px;
}


.slots-container {
  width: 200px;

  .left,
  .right,
  .middle,
  .top,
  .bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
  }

  .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;

    .left,
    .right {
      flex-direction: column;
    }
  }

  .class-icon {
    height: 128px;
    width: 64px;
    margin-top:-5em;
  }
}